<footer>
  <br><br><br>
  <p><%= current_year %></p>
  <P><%= github_url("HelenRaven", "TestGuru") %> by Helen </P>
  <p>Учебный проект в онлайн-школе <%= link_to 'Thinknetica', "http://thinknetica.com", target: 'blank' %></p>
</footer>
