<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <span class="navbar text">
    <div class="text-light">
      <%= current_year %> |
      <%= github_url("HelenRaven","TestGuru") %> by Helen |
      Учебный проект в онлайн-школе <%= link_to 'Thinknetica', "http://thinknetica.com", target: 'blank' %>
    </div>
  </span>
</nav>
