<h1><%= t('.header', title: @result.test.title )%></h1>

<% if @result.test_passed?%>
  <h2 style="color: green"><%= t('.passed') %></h2>
<% else %>
  <h2 style="color: red"><%= t('.missed') %></h2>
<% end %>
