<tr>
  <td align=left><%= test.title %></td>
  <td align=left><%= test_level(test) %></td>
  <td align=center><%= number_of_questions(test) %></td>
  <td><%= button_to t('.start') , start_test_path(test) %></td>
</tr>
